div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* box-sizing: border-box; */
}

.login-con {
  width: 50vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 348px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  font-size: 17px;
  padding: 16px;
  box-sizing: border-box;
}
::placeholder {
  color: #a3a3a3;
}

button {
  height: 48px;
  border-radius: 20px;
  border: none;
  background-color: #0166ff;
  color: #ffffff;
  font-size: 20px;
}

.signup {
  color: #0166ff;
}
.signup:hover {
  text-decoration: underline;
}

.error {
  color: rgb(210, 0, 0);
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
}
