div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* box-sizing: border-box; */
}

.login-con {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 390px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  font-size: 17px;
  padding: 16px;
  box-sizing: border-box;
}
::placeholder {
  color: #a3a3a3;
}

button {
  height: 48px;
  border-radius: 20px;
  border: none;
  background-color: #0166ff;
  color: #ffffff;
  font-size: 20px;
}

.signup {
  color: #0166ff;
}
.signup:hover {
  text-decoration: underline;
}

.error {
  color: rgb(210, 0, 0);
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
}

.stepper {
  width: 300px;
  display: flex;
  padding: 50px;
}

.currency {
  width: 390px;
  height: 65px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  padding: 10px;
  font-size: 18px;
}
.currency-text {
  color: #475569;
  width: 384px;
  font-size: 12px;
  font-weight: 300;
  height: 40px;
}
.final-text {
  width: 384px;
  text-align: center;
  line-height: 24px;
  color: #475569;
  font-weight: 350;
  margin: 0;
  padding-bottom: 35px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0 7vw 1vh;
}
.cart{
  background-color: rgba(243, 244, 246, 1);
  display: flex;
  justify-content: space-between;
}
.cash {
  width: 384.12px;
  height: 219.66px;
  border-radius: 18px;
  background-color: #0166ff;
  padding: 13px 30px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 24px;
}
.incomeExpense {
  width: 384px;
  height: 216px;
  top: 104px;
  left: 528px;
  border-radius: 18px;
  background-color: #ffffff;
}

.cart-title {
  width: 384px;
  height: 56px;
  padding: 17px 24px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(226, 232, 240, 1);
  gap: 8px;
}
.cart-amount{
font-size: 36px;
font-weight: 600;
padding: 15px 24px;
}
.desc{
font-size: 18px;
font-weight: 400;
padding: 0 24px;
line-height: 0;
color: rgba(100, 116, 139, 1);
}
.cart-status{
  display: flex;
  height: 60px;
  align-items: end;
  font-size: 20px;
  padding-left: 24px;
  gap: 8px;
}