body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f3f4f6;
}
.homebtn {
  border-radius: 20px;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
  background-color: #ffffff;
  color: #0167ffc6;
  border: 1px solid #0166ff;
}
.homebtn:hover {
  border: 1.6px solid #0166ff;
  color: #0166ff;
}
.login-con {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  width: 390px;
  width: 150px48px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  font-size: 17px;
  padding: 16px;
  box-sizing: border-box;
}
::placeholder {
  color: #a3a3a3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  height: 48px;
  border-radius: 20px;
  border: none;
  background-color: #0166ff;
  color: #ffffff;
  font-size: 20px;
}

.signup {
  color: #0166ff;
}
.signup:hover {
  text-decoration: underline;
}

.error {
  color: rgb(210, 0, 0);
  min-height: 0px;
  text-align: center;
  font-size: 14px;
}

.stepper {
  width: 300px;
  display: flex;
  padding: 50px;
}

.currency {
  width: 390px;
  height: 65px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  padding: 10px;
  font-size: 18px;
}
.currency-text {
  color: #475569;
  width: 384px;
  font-size: 12px;
  font-weight: 300;
  height: 40px;
}
.final-text {
  width: 384px;
  text-align: center;
  line-height: 24px;
  color: #475569;
  font-weight: 350;
  margin: 0;
  padding-bottom: 35px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15vw 1vh;
  background-color: #ffffff;
}
.cart {
  background-color: rgba(243, 244, 246, 1);
  display: flex;
  justify-content: space-between;
}
.cash {
  width: 384.12px;
  height: 219.66px;
  border-radius: 18px;
  background-color: #0166ff;
  padding: 13px 30px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 24px;
}
.incomeExpense {
  width: 22vw;
  height: 216px;
  border-radius: 18px;
  background-color: #ffffff;
}

.cart-title {
  width: 27vw;
  height: 56px;
  padding: 17px 24px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(226, 232, 240, 1);
}
.cart-amount {
  font-size: 36px;
  font-weight: 600;
  padding: 25px 24px;
}
.cart-status {
  display: flex;
  height: 20px;
  align-items: flex-end;
  font-size: 20px;
  padding-left: 24px;
  gap: 8px;
}
.doughnutContainer {
  display: flex;
  flex-direction: column;
  width: 34vw;
  height: 284px;
  border-radius: 12px;
  background-color: #ffffff;
}
.doughnutHead {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid rgba(226, 232, 240, 1);
}
.doughnut{
  width: 41vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1vw;
}
.label {
  width: 70vw;
  height: 230px;
  margin: 0 20px;
  box-sizing: border-box;
  overflow: scroll;
}
